body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    position: relative;
    padding: 0.8rem 6rem;
}

hr {
    color: #474747;
    margin: 0rem 5rem;
}

.back {

    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    align-self: center;
}

.dashboard-section {
    display: flex;
    flex-direction: row;
    gap: 0rem;
    flex-grow: 1;
}

.dashboard-sidebar {
    flex: 1;
    background-color: transparent;
    padding: 1rem 3rem;
    height: 100%;
    border-right: 1.6px solid #474747;
}

.dashboard-sidebar ul,
.dashboard-sidebar ul li,
.dashboard-sidebar ul li a {
    list-style: none;
    padding: 0;
    text-decoration: none;
}

.dashboard-sidebar ul li {
    padding: 1rem 1rem;
    margin: 1rem 0;
}

.dashboard-sidebar ul li.selected {
    background-color: #474747;
    border-radius: 0.5rem;

}

.dashboard-sidebar ul li a {
    color: #ffffff;
    font-size: 1.2rem;

}

.dashboard-content {
    display: flex;
    flex-direction: column;
    flex: 10;
    background-color: transparent;
    padding: 1rem 4rem;
    height: 100%;
}

.dashboard-content h1 {
    font-size: 2.5rem;
    font-weight: normal;
}

#logout-btn {
    background-color: #e44141;
    color: #ffffff;
    padding: 1rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

#logout-btn a {
    color: #ffffff;
    text-decoration: none;
}

.dashboard-stats-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin: 2rem 2rem 0 0rem;
}

.stat-card {
    flex: 1;
    background-color: #0B192C;
    padding: 2rem 2rem;
    border-radius: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .dashboard-sidebar {
        display: none;
    }

}