/* Define fonts */
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #0A0A0A;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    color: #ffffff;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
header a {
    text-decoration: none;
    color: #ffffff;
}
.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.brand h1 {
    font-weight: normal;
    background: linear-gradient(90deg, #FFFFFF 0%, #628150 45.9%, #82C35C 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2.2rem;
}

.main-nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.main-nav ul {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    list-style: none;
    align-items: center;
}

.main-nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffffff;
}
.product-detail{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.product-detail-container{
    width: 100%;
    display: flex;
    gap: 10rem;
    padding: 1.5rem 6rem;
}
.left img{
    width: 31vw;
    border-radius: 15px;
    aspect-ratio: 4/5;
    object-fit: cover;
}
.right{
    padding: 0;
    margin: 0;
}
.right h1{
    margin: 0;
    font-size: 3.2vw;
}

.product-description-name{
    margin: 0;
    font-size: 1.2vw;
}
.price-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.dollar-icon{
    width: 3vw;
    height: 3vw;
}
.product-price{
    font-size: 1.8vw;
}
.product-condition{
    font-size: 1.5vw;
}
.product-description{
    font-size: 1vw;
}
hr{
    margin: 1.5rem 6rem;
}
.user-info{
    width: 100%;
    display: flex;
    padding: 1.5rem 6rem;
    justify-content: space-between;
}
.user-name{
    margin: 0;
    font-size: 1.5rem;
}
.user-datejoin{
    margin: 0;
}
.user-ratings{
    margin: 0;
}
.user-profile{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.actions button{
    background: none;
    border: none;
    margin: 0;
    padding: 0 1rem;
    cursor: pointer;
}
.actions button img{
    width: 3.5vw;
    height: auto;
}
.user-left{
    display: flex;
    align-items: center;
    gap: 3vw;
}
.user-pfp{
    width: 7vw;
    height: 7vw;
    object-fit: cover;
    border-radius: 50%;
}
.user-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.user-right button{
    background-color: rgb(234, 229, 229);
    padding: 1.5rem 3rem;
    color: black;
    font-size: 2vw;
    border-radius: 20px;
    font-weight: 700;
}
.user-right button:hover{
    background-color: grey;
}
.review-card{
    display: flex;
    background-color: #0B192C;
    width: 30vw;
    height: fit-content;
    flex-direction: column;
    padding: 1rem;
    border-radius: 15px;
}
.review-user{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.review-pfp{
    width: 3.5vw;
    height: 3.5vw;
    object-fit: cover;
    border-radius: 50%;
}
.review-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.review-section{
    width: 100%;
    display: flex;
    padding: 1.5rem 6rem;
    flex-direction: column;
}
.review-section h1{
    font-size: 1.5vw;
}
.review-card p{
    margin-top: 2rem;
    margin-left: 2rem;
}
.review-rating{
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}
.review-rating img{
    width: 1.2vw;
}
.loading {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: opacity 0.5s ease-in-out;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); /* Blurs the background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.popup-content {
    width: 70vw;
    height: 80vh;
    background-color: #0B192C;
    border-radius: 20px;
}

#make-offer {
    cursor: pointer;
}
.close-btn {
    position: relative;
    top: 1rem;
    left: 1rem;
    font-size: 30px;
    background: transparent;
    border: none;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
}
.hamburger-button {
    display: none;
    position: relative;
    background-color: transparent;

    border: none;
}
.mobile-menu {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 3;
    right: 0;
    top: 6rem;
    height: calc(100vh - 160px);
    width: 50%;
    transition: all 0.1s;
    transform: translateX(100%);
    background: rgba(87, 87, 87, 0.5);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    text-align: left;
    border-radius: 45px 0px 0px 45px;
}

.open.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8rem 1rem;
    opacity: 1;
    transform: translateX(0);
}
.mobile-menu li {
    list-style: none;
}
.mobile-menu li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
}
#profile-btn {
    display: inline-block;
    border: none;
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}
footer {
    background-color: #1b1b1b;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-brand a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.footer-brand h2 {
    margin-left: 10px;
    font-size: 1.5rem;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social a {
    margin: 0 10px;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #ccc;
}
@media screen and (max-width: 768px) {
    .main-nav{
        display: none;
    }

    .hamburger-button {
        display: block;
    }
    header{
        padding: 1rem 3rem;
    }
    .product-detail-container{
        flex-direction: column;
        align-items: center;
        gap: 8vh;
        padding: 1rem 3rem;
    }
    .left img{
        width: 100%;
    }
    .right h1{
        font-size: 2em;
    }
    .dollar-icon{
        width: 10vw;
        height: 10vw;
    }
    .product-price{
        font-size: 2em;
    }
    .product-condition{
        font-size: 1.5em;
    }
    .product-description-name{
        font-size: 1.5em;
    }
    .product-description{
        font-size: 1em;
    }
    hr{
        margin: 1rem 3rem;
    }
    .user-info{
        flex-direction: column;
        padding: 1rem 3rem;
        gap: 1.5rem;
    }
    .user-pfp{
        width: 10vw;
        height: 10vw;
    }
    .user-left{
        justify-content: space-around;
    }
    .actions button img{
        width: 10vw;
    }
    .user-right button{
        font-size: 1.5rem;
    }
    .review-section{
        padding: 1rem 3rem;
    }
    .review-section h1{
        font-size: 1.5rem;
    }
    .review-card{
        width: 100%;
    }
    .review-rating img{
        width: 1rem;
    }
    .review-pfp{
        width: 7vw;
        height: 7vw;
    }
    .footer-content {
        flex-direction: column;
        gap: 20px;
    }

    .footer-links ul {
        flex-direction: column;
        gap: 10px;
    }

    .footer-brand h2 {
        font-size: 1.2rem;
    }

    .footer-links a {
        font-size: 0.8rem;
    }

    .footer-social {
        margin-top: 10px;
    }

    .footer-bottom {
        font-size: 0.7rem;
    }
}