@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #0A0A0A;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    color: #ffffff;
}
body {
    overflow-x: hidden;
}
header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
header a {
    text-decoration: none;
    color: #ffffff;
}
.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.brand h1 {
    font-weight: normal;
    background: linear-gradient(90deg, #FFFFFF 0%, #628150 45.9%, #82C35C 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2.2rem;
}

.main-nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.main-nav ul {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    list-style: none;
    align-items: center;
}

.main-nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffffff;
}

.top-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}
.banner {
    background-image: url(../productpage-banner.png);
    background-size: cover;
    background-position: center center;
    width: 80vw;
    height: 60vh;
    margin-bottom: 2rem;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
  }
  
  .banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); 
    border-radius: 15px; 
  }
.banner h1{
    font-size: 7rem;
    font-weight: bold;
    z-index: 2;
    text-align: center;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
.search{
    width: 40rem;
    height: 4rem;
    border: none;
    border-radius: 40px;
    padding: 0 1rem;
    font-size: 1.2rem;
    background: none;
    border: white 1px solid;
}
.filter{
    display: flex;
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 40px;
    padding: 0 1rem;
    font-size: 1.2rem;
    background: none;
    border: white 1px solid;
    justify-content: center;
    align-items: center;
}
.upload{
    display: flex;
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 40px;
    padding: 0 1rem;
    font-size: 1.2rem;
    background: none;
    border: white 1px solid;
    justify-content: center;
    align-items: center;
}
.search-bar img{
    width: 2rem;
    height: 2rem;
}
.upload, .filter{
    cursor: pointer;
}
.products {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    flex-direction: column;
}
.product-card-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
    width: 80vw;
}
.end{
    background: none;
    font-size: 1.8rem;
    margin: 3rem 0;
    display: none;
    text-align: center;
}

.gradient-blur img {
    max-width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.gradient-blur {
    position: relative;
    z-index: 5;
    pointer-events: none;
    border-radius: 15px;
}
.product-card {
    flex: 1 1 25%;
    cursor: pointer;
    border-radius: 15px;
}

.load-more {
    margin: 3rem 0;
    background: none;
    padding: 0.5rem 1rem;
    border: 2px solid #ffffff;
    border-radius: 25px;
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.load-more:hover {
    background-color: #ffffff4b;
    color: white;
}
.product-card img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    aspect-ratio: 4/5;
    object-fit: cover;
}
.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
    
    position: absolute;
    inset: 0;
    border-radius: 15px;
}

.gradient-blur > div:nth-of-type(1) {
    z-index: 6;
    backdrop-filter: blur(3px); /* Decreased blur amount */
    mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 62.5%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 1) 87.5%,
      rgba(0, 0, 0, 0) 100%
    );
}

.gradient-blur > div:nth-of-type(2) {
    z-index: 7;
    backdrop-filter: blur(5px); /* Decreased blur amount */
    
    mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 1) 87.5%,
      rgba(0, 0, 0, 1) 100%
    );
}

.product-info-section {
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 0;
    padding: 0 1rem 1rem 1rem;
    font-size: 0.9rem;
    width: 100%;
    border-bottom: 15px; 
}
.product-info-section h2, .product-info-section p{
    margin-bottom: 0rem;
    margin-top: 0.5rem;
    font-weight: normal;
    color: white; /* Default color */
    mix-blend-mode: difference;
    font-size: 1.5rem !important;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
    z-index: 21;
}
.product-info-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2); 
    filter: blur(5px);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 19;
  }
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); /* Blurs the background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.popup-content {
    width: 70vw;
    height: 80vh;
    background-color: #0B192C;
    border-radius: 20px;
}
.uploadContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    gap: 9%;
}
.uploadLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border-radius: 25px;
    outline: 4px dashed white;
    padding: 1rem;
    width: 40%;
    height: 40%;
    cursor: pointer;
}
.uploadImage{
    width: 15rem;
}
.uploadInput, select, option{
    background-color: #FFFFFF;
    width: 20rem;
    height: 2.2rem;
    color: black;
    font-size: 1rem;
    border-radius: 5px;
}
.uploadRight form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
    align-items: center;
}
.uploadButton{
    width: 10rem;
    height: 4rem;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2507AB;
    border: none;
    margin-top: 1rem;
    font-weight: bold;
}
#description {
    line-height: 1.2;
    text-align: left;
    height: 8rem;
}
.close-btn {
    position: relative;
    top: 1rem;
    left: 1rem;
    font-size: 30px;
    background: transparent;
    border: none;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
}
#dotlottie-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

#dotlottie-animation {
    position: fixed;
    width: 50vw; /* Half of screen width */
    height: 50vh; /* Half of screen height */
    z-index: 1001;
    display: block; /* Initially hidden */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    display: none;
}

.sidepanel {
    z-index: 100;
    position: fixed;  
    top: 0;
    left: -100%;  
    background-color: white;
    width: 20vw;
    height: 100vh;
    padding: 1rem;
    transition: left 0.5s ease; 
  }
  

  .sidepanel-cat {
    color: black;
  }
  
  .sidepanel-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 30px;
    background: transparent;
    border: none;
    color: black;
    font-size: 2.5rem;
    cursor: pointer;
  }
  

  .sidepanel.open {
    left: 0;  
  }
  
.sidepanel-cat{
    color: black;
}
.sidepanel-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 30px;
    background: transparent;
    border: none;
    color: black;
    font-size: 2.5rem;
    cursor: pointer;
}
.range-input input{
    width: 70%;
}
.range-input{
    margin-top: 1rem;
}
.price-display{
    color: black;
}
.hamburger-button {
    display: none;
    position: relative;
    background-color: transparent;

    border: none;
}
.mobile-menu {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 3;
    right: 0;
    top: 6rem;
    height: calc(100vh - 160px);
    width: 50%;
    transition: all 0.1s;
    transform: translateX(100%);
    background: rgba(87, 87, 87, 0.5);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    text-align: left;
    border-radius: 45px 0px 0px 45px;
}

.open.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8rem 1rem;
    opacity: 1;
    transform: translateX(0);
}
.mobile-menu li {
    list-style: none;
}
.mobile-menu li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
}

footer {
    background-color: #1b1b1b;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-brand a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.footer-brand h2 {
    margin-left: 10px;
    font-size: 1.5rem;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social a {
    margin: 0 10px;
    text-decoration: none;

}

.footer-bottom {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #ccc;
}

@media screen and (max-width: 900px) {
    .main-nav{
        display: none;
    }
    .hamburger{
        display: block;
    }
    header{
        padding: 0.8rem 2rem;
    }
    .banner h1{
        font-size: 4.5rem;
    }
    .search{
        width: 12rem;
    }
    .product-card-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .product-info-section h2, .product-info-section p{
        font-size: 1rem !important;
    }
    .sidepanel{
        width: 40vw;
    }
    .popup-content{
        height: 90vh;
        width: 90vw;
    }
    .uploadContainer{
        flex-direction: column;
        align-items: center;
        padding: 0 2rem;
    }
    .uploadImage{
        width: 6rem;
    }
    .uploadLeft{
        width: 50vw;
        height: 50vw;
        text-align: center;
        font-size: 0.9rem;
    }
    .uploadRight form{
        gap: 1rem;
    }
    #description{
        height: 2rem;
    }
    .uploadInput{
        height: 2rem;
    }
    .end{
        font-size: 1.5em;
    }
    .footer-content {
        flex-direction: column;
        gap: 20px;
    }
    .hamburger-button {
        display: block;
    }
    .footer-links ul {
        flex-direction: column;
        gap: 10px;
    }

    .footer-brand h2 {
        font-size: 1.2rem;
    }

    .footer-links a {
        font-size: 0.8rem;
    }

    .footer-social {
        margin-top: 10px;
    }

    .footer-bottom {
        font-size: 0.7rem;
    }
}
