/* Define fonts */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #0A0A0A;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0; 
}

* {
    box-sizing: border-box;
    color: #ffffff;
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.brand h1 {
    font-weight: normal;
    background: linear-gradient(90deg, #FFFFFF 0%, #628150 45.9%, #82C35C 100%);
    -webkit-background-clip: text; 
    color: transparent; 
    font-size: 2.2rem;
}

.main-nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.main-nav ul {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    list-style: none;
    align-items: center;
}

.main-nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffffff;
}

.landing-section {
    background-image: url('../landing-bg.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    
}

.landing-text {
    flex: 5.5;
    padding: 6rem;
}

.landing-text p {
    font-size: 1.1rem;
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.landing-3d {
    flex: 4.5;
    height: 80%;
}

.btn {
    display: inline-block;          /* Ensures proper sizing and padding */
    padding: 20px 40px;            /* Adjust padding as needed */
    border: 2px solid #ffffff;    /* Adds a border with your desired color */
    border-radius: 25px;          /* Makes the button rounded */
    background-color: transparent; /* Transparent background */
    color: #ffffff;               /* Text color matching the border */
    text-decoration: none;        /* Removes underline from the link */
    font-size: 16px;              /* Adjust font size as needed */
    text-align: center;           /* Centers text within the button */
    transition: all 0.3s ease;    /* Smooth transition for hover effects */
}

.btn:hover {
    background-color: #ffffff4b;    /* Adds a filled background on hover */
    color: white;                 /* Changes text color to white on hover */
  }

#canvas {
    display: block;
    position: relative;  /* Adjust position to be relative to the .landing-3d container */
    z-index: 1;  /* Lower z-index so it doesn't overlap too much with the text */
    width: 100%;  /* Ensure it doesn't overflow */
    height: 100%;  /* Keep it within the bounds of its container */
}